/*RTB HOUSE Style*/


/*Logo*/

.navbar-brand {
    height: 68px;
    cursor: pointer;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    cursor: pointer !important;
}


/*Typo*/

a:hover,
a:focus {
    color: #53284f;
}

a {
    color: rgba(83, 40, 79, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}


/*Custom style*/

.navbar-custom {
    background: #fff;
    border-bottom: 1px solid transparent;
}

.navbar-custom .nav li a {
    color: #888;
    padding: 20px;
}

.navbar-custom .nav li a {
    padding: 24px;
}

.intro-header {
    margin-top: 66px;
}

.intro-header {
    background-color: #200d29;
}

.post-preview > a {
    color: rgba(83, 40, 79, 1);
}

.post-preview > a:hover,
.post-preview > a:focus {
    color: rgba(83, 40, 79, 0.8);
}

.pager li > a:hover,
.pager li > a:focus {
    color: white;
    background-color: #f63440;
    border: 1px solid #f63440;
}

@media only screen and (min-width: 768px) {
    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: #f63440;
    }
}

.social-icons li a {
    color: #c1c1c1;
}

.social-icons li a:hover {
    color: rgba(83, 40, 79, 1);
}

.post-preview > .post-meta {
    color: #9a9a9a;
    font-size: 16px;
}

.intro-header .post-heading .meta {
    color: #9075A1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f63440;
    background-color: transparent;
}

.navbar-custom .nav li a {
    font-weight: 700;
}


/*Serach input*/

.gsc-input-box {
    width: 98%;
}

.gsib_a {
    width: 100%;
    padding: 2px 6px 0 !important;
}

.gsc-search-button .gsc-search-button-v2 {
    border-color: #53284f;
    background-color: #311e44;
    background-image: none;
    filter: none;
    padding: 11px 14px;
    border-radius: 4px;
}

.gsc-search-button:hover .gsc-search-button-v2:hover {
    border-color: #f63440;
    background-color: #f63440;
}


/*Modal for images*/


/* Style the Image Used to Trigger the Modal */

.img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/*fixed nav*/

.navbar-custom.is-fixed {
    background-color: #fff;
}

.navbar-custom.is-fixed .nav li a:hover,
.navbar-custom.is-fixed .nav li a:focus {
    color: #f63440;
}

.navbar-custom.is-fixed .navbar-nav > .active > a,
.navbar-custom.is-fixed .navbar-nav > .active > a:hover,
.navbar-custom.is-fixed .navbar-nav > .active > a:focus {
    color: #f63440;
    background-color: transparent;
}

.site-heading h1{
    font-weight: 300;
}
